:root {
  --main-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --herofoot-background-color: #2f303a;
  --main-text-color: #757575;
  --title-text-color: #212121;
  --hero-text-color: #ffffff;
  --hover-text-color: #2196f3;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: var(--main-text-color);
}

/* Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  color: var(--hover-text-color);
}
.logo-color {
  color: var(--title-text-color);
}
.logo-color-footer {
  color: var(--hero-text-color);
}
.site-nav .link,
.contacs .link {
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.site-nav .link.title:hover,
.contacs .link:hover,
.site-nav .link.title:focus,
.contacs .link:focus {
  color: var(--hover-text-color);
}

.site-nav .link.current {
  color: var(--hover-text-color);
}
.site-nav .link.title {
  color: var(--title-text-color);
}
/* Hero */
.hero {
  background-color: var(--herofoot-background-color);
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}
.button {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  background-color: var(--hover-text-color);
  color: var(--hero-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
}

/* main */
.benefits-title {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
}

.work-title,
.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  background-color: var(--secondary-background-color);
  text-align: center;
}
.team-employee {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
}

/* footer */
.footer {
  background-color: var(--herofoot-background-color);
}
.footer-address {
  font-style: normal;
  color: var(--hero-text-color);
}
.footer-logo {
  font-style: normal;
  text-decoration: none;
  color: var(--main-text-color);
  color: rgba(255, 255, 255, 0.6);
}

/* portfolio */
.portfolio-buttons {
  background-color: var(--secondary-background-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}

.portfolio-buttons:hover,
.portfolio-buttons:focus {
  background-color: var(--hover-text-color);
  color: var(--hero-text-color);
}
.project-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
}
